/* ----------------------------------------
    All Animation CSS StyleSheet Here 
 ------------------------------------------*/
@keyframes bannerImgPopUp {
    0% {
        transform: scale(0.9) translate(50px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bannerContentPopUp {
    0% {
        transform: scale(0.9) translate(-50px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes btnAnimation {
    0%{
        background: transparent;
        border: 1px solid transparent;
    }
    50%{
        background-color: transparent;
        border: 1px solid red;
        
    }
    100%{
        background: transparent;
        border: 1px solid transparent;
    }
}
@keyframes btnArrowAnimation {
    0% {
        transform: translate(-2px);
        opacity: 0.9;
    }

    50% {
        transform: translate(2px);
        opacity: 1;

    }

    100% {
        transform: translate(-2px);
        opacity: 0.9;
    }
}
@keyframes circleInBtn {
    0% {
        color:transparent;
    }

    50% {
        color:red;

    }

    100% {
        color:transparent;
    }
}
.banner-img img {
    animation: bannerImgPopUp 1s ease-out 1;
}

.banner-content {
    animation: bannerContentPopUp 1s ease-out 1;
}
.primary-btn:hover {
    animation: btnAnimation 1s ease-in-out infinite;
    color: red;
}
.primary-btn .fa-angle-right{
    margin-top: 2px;
    animation: btnArrowAnimation 1.5s ease-in-out infinite;
}
.fa-circle{
    animation: circleInBtn 1s ease-in-out infinite;
}